flask
gunicorn
flask_sqlalchemy
psycopg2-binary
flask-migrate
python-dotenv
PyJWT
werkzeug
boto3
redis<6
rq
Flask-JWT-Extended==4.7.4
requests
pytest
pytest-cov
flake8
flask-cors
Flask-Limiter[redis]
Flask-Mail
email-validator
marshmallow
flask-marshmallow
cryptography>=49.0.0
openpyxl
python-docx
google-api-python-client
google-auth
pyotp
qrcode
bleach[css]
